body {
  
    background-color: black;
    color: white;
}

header {
    margin: 0;
    padding: 0;
    background-color:  rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgb(170, 170, 170);
    background-image: url(./images/8caad376e434f3d6e03d356874ac0f62.gif) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1100px;
    height: 105px;
  
   
}

.tittle_p{

    text-shadow: 0px 1px 1px rgb(214, 83, 197);

}

h1 {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.photo-profile{
   position: absolute;
    width: 90px;
    left: 10px;
    top: 24px;
    border-radius: 100px;
    box-shadow: 0px 0px 1px 1px rgba(223, 216, 216, 0.918);
    transition: 1s ease-out;
}

:hover.photo-profile{
    transition: 1s ease-out;
    transform: scale(1.1);
}

#name{
    color: rgb(0, 0, 0);
    margin-right:  900px; ;

}

.Navegation nav{ 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    width: 1000px;
    margin-left: 160px;
}


.link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 0px 1px 1px  rgb(214, 83, 197);
    font-size: 25px;
    margin-top: 45px;
    transition: 1s ease;

}

a.link:hover{
    transform: translateY(-10px);
}

.mascota{
    margin: 10px,10px,10px;
    border-radius: 1px;
    border-color: bisque;
    margin-top: 30px;
    border-radius: 20px;
    border: 1px solid white;
}
.mascotas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px  ;
    text-align: center;
    
}
.fotos{
    height: 33% ;
    width: 33%;
    border-radius: 5%;
    margin: 10px;
}