@media (max-width:1000px){
    .photo-profile{
    width: 9%;
    margin-left: 0.2%;
    }

    header {
    width: 100%;
    background-size: 80%;
    height: 105px;
    }
    
    .Navegation nav{
    gap: 30px;
        
    }

    .link{
        font-size: 30px;
    }

}

@media (max-width:768px){
    
    .photo-profile{
        width: 8%;
        margin-left: 3%;

    }

    header {
    margin-left: 3%;
    width: 100%;
    background-size: 80%;
    height: 105px;
    }
    
    .Navegation nav{
    gap: 30px;
        
    }

    .link{
        font-size: 15px;
    }

    .formation{
        height: 500px;

    }

    #text1{
        margin-left: 40%;
    }

    #text2{
        margin-left: 40%;
        margin-top: 20%;
    }

}


@media (max-width:430px) and (max-height:932px){
    
    .photo-profile{
        width: 8%;
        margin-left: 3%;
    }

    header {
    margin-left: 3%;
    width: 100%;
    background-size: 80%;
    height: 105px;
    }
    
    .Navegation nav{
    gap: 31px;
        
    }

    .link{
        font-size: 15px;
    }

    .formation{
        height: 550px;
        background-image: none;
    }

    #text1{
        margin-left: 30%;
    }

    #text2{
        margin-left: 30%;
        margin-top: 50%;
    }


}
