body {
    background-color: black;
    color: white;
    
}

header {
    margin: 0;
    padding: 0;
    background-color:  rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px rgb(170, 170, 170);
    background-image: url(./images/8caad376e434f3d6e03d356874ac0f62.gif) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1100px;
    height: 105px;
   
}

.tittle_p{

    text-shadow: 0px 1px 1px rgb(214, 83, 197);

}

h1 {
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.photo-profile{
   position: absolute;
    width: 90px;
    left: 10px;
    top: 24px;
    border-radius: 100px;
    box-shadow: 0px 0px 1px 1px rgba(223, 216, 216, 0.918);
    transition: 1s ease-out;
}

:hover.photo-profile{
    transition: 1s ease-out;
    transform: scale(1.1);
}

.Navegation nav{ 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    width: 100%;
    margin-left: 15%px;
}

.link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 0px 1px 1px  rgb(214, 83, 197);
    font-size: 25px;
    margin-top: 45px;
    transition: 1s ease;

}

main{
    width: 100%;
    height: 100%;
}

a.link:hover{
    transform: translateY(-10px);
}

.information{
    background-color: black;
    box-shadow: 2px 1px 2px 2px  rgb(160, 7, 248);
    border-radius: 50px;    
    height: 300px;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: url(./images/fondo-main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 145px;
    margin-top: 40px;
    transition: 0.5s ease-out;
    
}

:hover.information{
    transform: scale(1.1);
    transition: 0.5s ease-out;
}

.list{
    list-style: none;
    position: relative;
    top: 98px ;
}

.text_i{
    position: relative;
    top: 98px;
}

.formation{
    
    background-image: url(./images/background-2\(2\).jpeg);
    box-shadow: 2px 1px 2px 2px  rgb(160, 7, 248);
    border-radius: 50px;
    height: 300px;
    margin-top: 150px;
    width: 92%;
    margin-left: 3.5%;
    text-align: center;
    background-color: #030303;
    background-position: 98%;
    background-repeat: no-repeat;
    background-size: 170px;
    
  
    
}


#text_f{
   position: relative;
   top: 20px;
}

#text1{
    width: 140px;
    height: 140px;
    border-radius: 40px;
    box-shadow: 1px 1px 1px 1px whitesmoke ;
    margin-left: 30%;
    margin-top: 7%;
    display: flex;
    font-size: 19px;
    transition: 1s ease-out;
}

#text2{
    width: 140px;
    height: 140px;
    border-radius: 40px;
    box-shadow: 1px 1px 1px 1px whitesmoke ;
    margin-left: 60%;
    margin-top: -11.5%;
    display: flex;
    font-size: 19px;
    transition: 1s ease-out;
}

#text1:hover,#text2:hover{
    transform: translateY(-20px);
}

footer{
    height:100% ;
    text-align: center;
    margin-top: 100px;
}
