/* Colors */

:root {
    --color-black: black;
    --color-white: white;
    --color-shadow-gray: rgb(170, 170, 170);
    --color-pink: rgb(214, 83, 197);
    --color-shadow-light: rgba(223, 216, 216, 0.918);
    --color-bisque: bisque;
}

/* Global */

body {
    background-color: var(--color-black);
    color: var(--color-white);
}

/* Navegation Area */

header {
    margin: 0;
    padding: 0;
    background-color: var(--color-black);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px var(--color-shadow-gray);
    background-image: url(../images/8caad376e434f3d6e03d356874ac0f62.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    height: 105px;
}

.tittle_p {
    text-shadow: 0px 1px 1px var(--color-pink);
}

h1 {
    margin: 0;
    padding: 0;
    color: var(--color-black);
    font-size: 160%;
}

.photo-profile {
    position: absolute;
    width: 5%;
    left: 1%;
    top: 2.5%;
    border-radius: 100px;
    box-shadow: 0px 0px 1px 1px var(--color-shadow-light);
    transition: 1s ease-out;
}

.photo-profile:hover {
    transition: 1s ease-out;
    transform: scale(1.1);
}

.Navegation nav { 
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    width: 100%;
}

.link {
    text-decoration: none;
    color: var(--color-black);
    text-shadow: 0px 1px 1px var(--color-pink);
    font-size: 25px;
    margin-top: 2.5%;
    transition: 1s ease;
}

a.link:hover {
    transform: translateY(-7px);
}

/* Pets  */

.mascota {
    margin: 10px 10px 10px;
    border-radius: 1px;
    border-color: var(--color-bisque);
    margin-top: 30px;
    border-radius: 20px;
    border: 1px solid var(--color-white);
}

.mascotas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
}

.fotos {
    height: auto;
    max-width: 35%;
    border-radius: 5%;
    margin: 10px;
}

/* Additional Information(Footer) */

footer {
    height: 100%;
    text-align: center;
    margin-top: 5%;
}


/* Responsive */


/* Laptop */

@media (max-width:1330px){
    
    .photo-profile{
        width: 6%;
        margin-top: 0.5%;
        margin-left: 1.2%; 
        
    }

    .Navegation nav{
        gap: 10%;
    }

    .link{
        font-size: 140%;
        margin-top: 4%;
    }      
}

@media (max-width:1100px){
    
    .photo-profile{
        width: 8%;
        margin-top: 0.6%;
        margin-left: 0.5%;
        
    }

    .Navegation nav{
        gap: 10%;
    }

    .link{
        font-size: 140%;
        margin-top: 5%;
    }      
}

/* Tablet */

@media (max-width:768px){
    .photo-profile{
        width: 7.5%;
        margin-top: 2.5%;
        margin-left: 1.2%;
    }

    .Navegation nav{
        gap: 10%;
    }

    .link{
        font-size: 140%;
        margin-top: 7%;
    }

    .mascotas{
        grid-template-columns: repeat(2,1fr);
    
    }


}        

/* Phone */

@media (max-width:430px) {

    .photo-profile{
        display: none;
    }

    .Navegation nav{
        gap: 6%;
    }
    .link{
        font-size: 120%;
        margin-top: 13%;
    }

    .mascotas{
        grid-template-columns: repeat(1,1fr);
    }
}